<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241148877342-br045jap6ur468ud3pnmq4oj3qqqlp8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241148877342-br045jap6ur468ud3pnmq4oj3qqqlp8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDgxXBMLEsb-Q89xHnByFolwd4oC923Q-k</string>
	<key>GCM_SENDER_ID</key>
	<string>241148877342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.gawlowski.worktenser</string>
	<key>PROJECT_ID</key>
	<string>worktenser</string>
	<key>STORAGE_BUCKET</key>
	<string>worktenser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241148877342:ios:222b464974baa6c738ec0f</string>
</dict>
</plist>